.coffe-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px 20px 0;
}

@media (min-width: 768px) {
  .coffe-list {
    grid-template-columns: repeat(3, 1fr); /* Tres columnas en tablet y desktop */
  }
}
